---
nis_domain: mynisdomain
ntp_server: mynisdomain.com
ad_domain: ADDOMAIN.COM
# be sure to include these variables in your own group_vars/vault.yml file:
# vault_nis_servers:
#   - ip: <nis slave/server>
#   - ip: <nis slave/server>
#   - ip: <nis slave/server>
#   <and so on>
# vault_ad_cfc_user: <cfc user name>
# vault_ad_cfc_pass: <cfc password>