---
nis_domain: mynisdomain
nis_servers:
  - addr: mynisserver.com
  - addr: mynisslave.00.com
  - addr: mynisslave.01.com
ntp_server: myntpserver.com
ad_domain: ADDOMAIN.COM

# be sure to include these variables in your own group_vars/vault.yml file:
# note that this user needs to be able add/remove computers
# vault_ad_user: <AD username>
# vault_ad_pass: <AD password>
